    <nav>
      <ul>
        <% if session[:user] %>
          <%= current_user&.email %>
          <li><%= link_to "登出", logout_users_path ,
                                  data: { turbo_method: 'delete' } %></li>
        <%else%>
         <li><%= link_to "登入", login_users_path %></li>
          <li><%= link_to "註冊", new_user_path  %></li>
        <%end%>
        
      </ul>